
html {
  word-wrap: normal;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 1em;
}
h1 {
  text-align: center;
  font-size: 70px;
  color: red;
}
h2 {
  text-align: center;
}
.column1 {
  width: 48%;
  float: left;
  font-weight: lighter;
  padding: 10px;

}
.column2 {
  width: 48%;
  float: right;
  font-weight: lighter;
  padding: 10px;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}
